<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>The Only Health News You Will Ever Need</title>
	</head>
	<h1>Antifake Health News!</h1>
	<h2>Only best helth nows is on this website,</h2>
	<body>
		{{{ body }}}
	</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="./app.js"></script>
</html>
